.game__wrapper {
  @apply relative;
  &.half_opacity use {
    opacity: 0.5;
  }
}
.game__scores {
  @apply absolute;
  top: 130px;
}

svg rect {
  transition: y 0.1s;
}

.gap-x-2 {
  column-gap: 0.5rem;
}

.view-home {
  @apply flex items-center justify-center h-full absolute w-full;
  .button-set {
    @apply flex gap-x-2 mb-6;
  }
  .card {
    @apply shadow-lg
  }
}
